.test{
    position: absolute;
    top:25%;
    
    float: center;
    left: 35%;
    
    display: flex;
    flex-direction: column;
    width: 20rem;
    background-color: white;
    padding: 1rem;
    border-radius: .5rem;
}
.text{
    color: rgb(58, 57, 57);
    margin: .2rem 0;
    padding: .1rem 1rem;
    width: 100%;
    border: 1px solid grey;
    border-radius: .2rem;
}
.text-large{
    color: rgb(58, 57, 57);
    margin: .2rem 0;
    padding: .1rem 1rem;
    width: 100%;
    height: 5rem;
    border: 1px solid grey;
    border-radius: .2rem;
}
.submit{
    border: none;
    border-radius: 2rem;
    background-color: rgb(49, 0, 226);
    padding: .3rem 1rem;
    margin-top: .5rem;
}
h2{
    font-weight: normal;
    font-size: 1.7rem;

}